@charset "UTF-8";
/* CSS Document */

nav li {
display: inline; 
	font-family: Constantia, Bookman, URW Bookman L, serif; 
	font-size: 85%;
	padding-right: 15px;
	padding-left: 15px;
	list-style-type: none;}
	
nav {
	width: 900px;
	text-align: center;
	background-color:aliceblue;
	margin-top: auto;
	margin-bottom: 15px;
	margin-left: auto;
	padding-top: 15px;
	padding-bottom: 15px;}

img{ 
	max-width: 100%;
	max-height: 100%;
	display: block;
	margin-left: auto;
	margin-right: auto;}

.column {
  float: left;
  width: 33.33%;
  padding: 0px;
}

.row::after {
  content: "";
  clear: both;
  display: table;
}

body {
	width: 906px; 
	color: whitesmoke;
	background-color: skyblue;
	text-align: center;
	font-family: Bookman, URW Bookman L, serif;
	font-size: 20px;
	margin: auto;}

a:link {color: whitesmoke;}
a:visted {color: black}

	
ul {
list-style-type: none;
	margin: 0px;
	padding: 0px;}
	
a:link {
	color: white;
}
	
a:visited {
	color: darkblue;
}

.desc {
	padding-top: 25px;
}


	
	
	
	

